<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Login</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>소셜 로그인</h1>
    <a href="/oauth2/authorization/kakao">
        <img src="/images/kakao_login_medium_narrow.png" alt="Kakao Login">
    </a>
    <a href="/oauth2/authorization/naver">
        <img src="/images/btnG_short.png" alt="Naver Login" width=183px; height=45px>
    </a>
    <a href="/oauth2/authorization/google">
        <img src="/images/web_light_sq_SI@1x.png" alt="Google Login">
    </a>
</div>
</body>
</html>
